<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010446898476-0sbivjjtgm5a336eeht2irim8fan6u4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010446898476-0sbivjjtgm5a336eeht2irim8fan6u4c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1010446898476-krcrhbi19gra5u249m7lucl09hu28u4o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbJpd7lRXQUXM5YOlIT1QYiw8faE5JicY</string>
	<key>GCM_SENDER_ID</key>
	<string>1010446898476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tmc</string>
	<key>PROJECT_ID</key>
	<string>talent-management-center-d0b35</string>
	<key>STORAGE_BUCKET</key>
	<string>talent-management-center-d0b35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010446898476:ios:0e118fff238fe6c3214889</string>
	<key>DATABASE_URL</key>
	<string>https://talent-management-center-d0b35-default-rtdb.firebaseio.com</string>
</dict>
</plist>